.App {
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.msg-wrapper {
  white-space: pre-wrap;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #282c34;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
/*.media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}*/
.sidenav {
  height: 20px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(180deg);
    
  }to {
    transform: rotate(360deg);
    
  }
}

button {
  font-size: calc(10px + 2vmin);
}
.w3-round-xlarge {
  border-radius: 8px;
  border: 2px solid black!important;
}
#daily {
  color:yellowgreen;
  font-family: 'Courier New', monospace;
}